/* =============================================================================
    SUMMARY

    Breakpoint: 767- / 768 => 980 / 980+

    General styling

    Navbar

    Simple_plans_section
        Hero banner
        App ribbon
        Plans cards
        All plans
    Trustpilot_section
    Why_choose_sm4rty_section
    Group_plan_section
    Get_money_back_section
    Faq_section
    Awards_section

    Footer

============================================================================== */

/* =========================================================================================
    General styling
========================================================================================= */
@font-face {
    font-family: Kollektif;
    src: url('/fonts/Kollektif.woff') format('woff'),
         url('/fonts/Kollektif.ttf') format('truetype');
    font-display: fallback;
  }

  @font-face {
    font-family: Kollektif;
    font-weight: bold;
    src: url('/fonts/Kollektif-Bold.woff') format('woff'),
         url('/fonts/Kollektif-Bold.ttf') format('truetype');
    font-display: fallback;
  }

* {
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Kollektif';
    margin: 0;
    padding: 0;
}
h2, h3, h4, p, a {
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_width {
    width: 940px;
}
h2 {
    font-size: 46px;
}
h3 {
    font-size: 34px;
}
h4 {
    font-size: 24px;
}
a, a:visited {
    text-decoration: none;
    color: white;
}

img {
    width: 50px;
    max-height: 200px;
}
:root {
    --gray_one: #424449;
    --gray_two: #333539;
    --gray_three: #56585C;
    --gray_text: #3a3c41;
    --yellow: #FFD67C;
    --blue: #B3CDE7;
    --green: #CDDF99;
    --orange: #FF9569;
    --turquoize: #92E9F6;
    --turquoize_text: #8ED6C9;
    --violet: #B8AEF1;
}

/* =========================================================================================
    Navbar
========================================================================================= */
#navbar_container {
    height: 7vh;
    background: var(--gray_two);
}
#navbar_inner {
    display: flex;
}

#navbar_logo_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logo_top {
    font-size: 1.5rem;
    font-weight: 900;
}
#logo_bottom {
    font-size: 0.65rem;
    color: var(--turquoize_text);
}

#sub_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
}

#nav_links {
    display: flex;
    font-size: 1rem;
}
#nav_links > a {
    padding: 20px;
}

#user_links {
    display: flex;
    align-items: center;
    font-size: 14px;
}
#login_smiley {
    width: 17px;
}
#login_link {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 6px 15px;
    background: var(--gray_one);
    border-radius: 3px;
}
#activate_link {
    margin: 1rem 0 1rem 1rem;
    padding: 6px 15px;
    background: var(--yellow);
    border-radius: 3px;
    color: var(--gray_two);
}

/* =========================================================================================
    Simple_plans_section
========================================================================================= */
#simple_plans_section {
    background: var(--gray_one);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero banner ========================================================================== */
#hero_banner {
    display: flex;
    justify-content: space-between;
    background: var(--gray_two);
    min-height: 10vh;
    margin: 5vh 0vh;
    padding: 40px;
}
#hero_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#more_items {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
}
#more_items > p {
    margin-bottom: 6px;
}
.more_item_img {
    margin: 5px 8px 0px 0px;
    width: 15px;
}

#hero_view_all {
    display: flex;
    border: 2px solid var(--yellow);
    border-radius: 3px;
    width: 272px;
    height: 50px;
}
#hero_view_all_p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    font-size: 14px;
    font-weight: 700;
}
#hero_view_all_img {
    background: var(--yellow);
}
#hero_view_all_img > img {
    width: 46px;
    padding: 14px;
    background: var(--yellow);
}

#more_img {
    width: 192px;
}

/* App ribbon ================================================================ */
#app_ribbon {
    background: var(--gray_two);
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: 700;
}
#our_app {
    display: flex;
    align-items: center;
}
#our_app > img {
    width: 33px;
    height: 33px;
}

/* Plans cards =========================================================================== */
#plans {
    min-height: 10vh;
    margin-bottom: 5vh;
}

#plans_heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

#coverage_checker {
    display: flex;
    align-items: center;
}
#coverage_checker > img {
    width: 32px;
    height: 45px;
    margin-left: 10px;
}

#plans_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.plan_card {
    color: var(--gray_text);
    margin: 0px 0.5rem 1rem 0.5rem;
    width: 31.5%;
    height: 309px;
}

.card_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px;
    border-radius: 3px 3px 0 0;
    height: 223px;
}
.card_top > h2 {
    color: var(--gray_text);
    font-size: 86px;
}
.card_top > h2 > span {
    font-size: 58px;
}
.card_top > h3 {
    color: var(--gray_text);
    font-size: 46px;
}
.card_bottom {
    padding: 16px;
    height: 80px;
    background: white;
    border-radius: 0 0 3px 3px;
}
.card_bottom > button {
    color: var(--gray_text);
    font-size: 14px;
    font-weight: 700;
    padding: 18px 24px;
    width: 100%;
    height: 100%;
    border: none;
}
#c4gb, #b4gb {
    background: var(--yellow);
}
#c8gb, #b8gb {
    background: var(--blue);
}
#c12gb, #b12gb {
    background: var(--green);
}
#c30gb, #b30gb {
    background: var(--orange);
}
#c50gb, #b50gb {
    background: var(--turquoize);
}
#cunlimited, #bunlimited {
    background: var(--violet); 
}
#cunlimited > h2 {
    font-size: 46px;
}

#all_plans {
    margin-top: 5vh;
}
#all_plans_content {
    background: var(--gray_three);
}
#include_list {
    display: flex;
}
#wifi_banner {
    display: flex;
    background: var(--gray_one);
}
#wifi_all_plans {
    display: flex;
}
#wifi_learn_more {
    display: flex;
}

/* All plans =============================================================================== */
#all_plans_heading {
    padding: 10px 24px;
    background: var(--gray_two);
}
#all_plans_content {
    height: 221px;
    padding: 24px 16px 16px 16px;
}
#include_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 16px 0;
}
.include_list_item {
    width: 33%;
    font-size: 18px;
    margin-bottom: 16px;
}
.include_list_item > img {
    width: 15px;
    margin: 5px 8px 0 0;
}
#wifi_banner {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
#wifi_all_plans {
    display: flex;
    align-items: center;
}
#wifi_all_plans > img {
    width: 33px;
}

/* =========================================================================================
    Trustpilot_section
========================================================================================= */
#trustpilot_section {
    background: var(--gray_two);
    height: 220px;
    display: flex;
    justify-content: center;
}
#trustpilot {
    display: flex;
    height: 100%;
    padding: 32px 0 48px 0;
}

#trust_left {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 19px;
}

#trust_img {
    width: 162px;
}
#trust_logo {
    width: 106px;
}

#trust_right {
    width: 100%;
}
#trust_reviews_container {
    display: flex;
    height: 120px;
}
#reviews {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.review {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 20px 10px 20px;
}
.review_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
}
.trust_review_img {
    width: 100px;
}
.review_text {
    font-size: 12px;
}
.review_name, .review_date {
    font-size: 12px;
    opacity: 0.7;
}
.review_arrows {
    width: 24px;
    height: 24px;
    margin: auto 0 24px 0;
}
#trust_favorites {
    margin-left: 44px;
}

/* =========================================================================================
    Why_choose_sm4rty_section
========================================================================================= */
#why_choose_sm4rty_section {
    background: var(--gray_one);
    height: 695px;
}
#why_choose_content {
    height: 100%;
    padding: 60px 0 100px 0;
}

#why_choose_heading > h2 {
    margin-bottom: 8px;
}
#why_choose_heading > p {
    margin-bottom: 24px;
}

#why_choose_cards {
    display: flex;
    justify-content: space-between;
    height: 424px;
}
.why_choose_card {
    background: #56585C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 16px 16px 16px;
    width: 220px;
}
.why_choose_card > img {
    width: 100px;
    margin: 0 48px 30px 48px;
}
.why_card_title {
    margin-bottom: 24px;
    text-align: center;
}
.why_card_text {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

/* =========================================================================================
    Group_plan_section
========================================================================================= */
#group_plan_section {
    background: var(--gray_two);
    height: 455px;
}
#group_plan_content {
    height: 100%;
    padding: 60px 0 60px 0;
    display: flex;
    justify-content: space-between;
}
#group_plan_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 238px;
}
#group_plan_left > img {
    width: 300px;
}
#group_plan_left > button {
    border: none;
    background: var(--turquoize_text);
    padding: 14px 24px;
    font-size: 14px;
    font-weight: 700;
    color: var(--gray_text);
    border-radius: 3px;
}

#group_plan_right {
    display: flex;
    flex-direction: column;
    width: 592px;
}
#group_plan_right > h2 {
    margin-bottom: 43px;
}
#group_plan_right_content {
    padding-bottom: 32px;
}
#group_right_text {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 16px;
}
.group_right_text {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}
.group_right_text > img {
    width: 15px;
    margin: 5px 8px 0 0;
}

/* =========================================================================================
    Get_money_back_section
========================================================================================= */
#get_money_back_section {
    background: var(--gray_one);
    height: 371px;
}
#money_back_content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 60px 0;
}

#money_back_left {
    display: flex;
    flex-direction: column;
    width: 592px;
}
#money_back_left > h2 {
    margin-bottom: 43px;
}
#money_left_text {
    font-weight: 700;
    margin-bottom: 16px;
}
#text_blue {
    color: var(--turquoize_text);
}
#text_yellow {
    color: var(--yellow);
}

#money_back_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 251px;
}
#money_back_right > img {
    width: 300px;
}
#money_back_button {
    border: none;
    background: var(--turquoize_text);
    padding: 14px 24px;
    font-size: 14px;
    font-weight: 700;
    color: var(--gray_text);
    border-radius: 3px;
}

/* =========================================================================================
    Faq_section
========================================================================================= */
#faq_section {
    background: var(--gray_one);
    
}
#questions_container {
    display: flex;
    
}
#questions_left {
    padding-right: 29px;
}
#questions_right {
    padding-left: 29px;
}
.question > button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--gray_one);
    color: var(--turquoize_text);
    border: none;
    margin: 16px 0 9px 0;
}
.question > button > h4 {
    color: var(--turquoize_text);
}
.question > button > img {
    color: var(--turquoize_text);
    width: 30px;
}
.question > span {
    display: inline-block;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 8px;
}
.question_link {
    font-size: 18px;
    text-decoration: underline;
}
hr {
    margin: 8px 0;
}

/* =========================================================================================
    Awards_section
========================================================================================= */
#awards_section {
    background: var(--gray_one);
    min-height: 10vh;
}

/* =========================================================================================
    Footer
========================================================================================= */
#footer_container {
    background: var(--gray_two);
    min-height: 10vh;
}
#footer_inner {
    display: flex;
}
#footer_social {
    display: flex;
}




