/* =============================================================================
    SUMMARY

    Breakpoint: 767- / 768 => 980 / 980+

    General styling

    Navbar

    Simple_plans_section
        Hero banner
        App ribbon
        Plans cards
        All plans
    Trustpilot_section
    Why_choose_smarti_section
    Group_plan_section
    Get_money_back_section
    Faq_section
    Awards_section

    Footer

============================================================================== */

/* =========================================================================================
    General styling
========================================================================================= */
@font-face {
    font-family: Kollektif;
    src: url('/fonts/Kollektif.woff') format('woff'),
         url('/fonts/Kollektif.ttf') format('truetype');
    font-display: fallback;
  }

  @font-face {
    font-family: Kollektif;
    font-weight: bold;
    src: url('/fonts/Kollektif-Bold.woff') format('woff'),
         url('/fonts/Kollektif-Bold.ttf') format('truetype');
    font-display: fallback;
  }

* {
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Kollektif';
    margin: 0;
    padding: 0;
    /* color: white; */
}
h2, h3, h4, p, a {
    color: white;
}

.section {
    outline: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_width {
    width: 940px;
    outline: 1px solid magenta;
    
}
h2 {
    font-size: 46px;
}
h3 {
    font-size: 34px;
}
a, a:visited {
    text-decoration: none;
    color: white;
}

img {
    border: 1px solid red;
    background: magenta;
    width: 50px;
    max-height: 200px;
}
:root {
    --gray_one: #424449;
    --gray_two: #333539;
    --gray_three: #56585C;
    --gray_text: #3a3c41;
    --yellow: #FFD67C;
    --blue: #B3CDE7;
    --green: #CDDF99;
    --orange: #FF9569;
    --turquoize: #92E9F6;
    --turquoize_text: #8ED6C9;
    --violet: #B8AEF1;
}

/* =========================================================================================
    Navbar
========================================================================================= */
#navbar_container {
    height: 7vh;
    background: var(--gray_two);
}
#navbar_inner {
    display: flex;
}

#navbar_logo_link {
    /* outline: 1px solid chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logo_top {
    font-size: 1.5rem;
    font-weight: 900;
}
#logo_bottom {
    font-size: 0.65rem;
    color: var(--turquoize_text);
}

#sub_nav {
    /* outline: 1px solid chartreuse; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
}

#nav_links {
    /* outline: 1px solid chartreuse; */
    display: flex;
    font-size: 1rem;
}
#nav_links > a {
    padding: 20px;
}

#user_links {
    /* outline: 1px solid chartreuse; */
    display: flex;
    align-items: center;
    font-size: 14px;
}
#login_smiley {
    width: 17px;
}
#login_link {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 6px 15px;
    background: var(--gray_one);
    border-radius: 3px;
}
#activate_link {
    margin: 1rem 0 1rem 1rem;
    padding: 6px 15px;
    background: var(--yellow);
    border-radius: 3px;
    color: var(--gray_two);
}

/* =========================================================================================
    Simple_plans_section
========================================================================================= */
#simple_plans_section {
    background: var(--gray_one);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero_banner {
    display: flex;
    justify-content: space-between;
    background: var(--gray_two);
    min-height: 10vh;
    margin: 5vh 0vh;
    padding: 40px;
}
#hero_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#more_items {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
}
#more_items > p {
    margin-bottom: 6px;
}
.more_item_img {
    margin: 5px 8px 0px 0px;
    width: 15px;
}

#hero_view_all {
    display: flex;
    border: 2px solid var(--yellow);
    border-radius: 3px;
    width: 272px;
    height: 50px;
}
#hero_view_all_p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    font-size: 14px;
    font-weight: 700;
}
#hero_view_all_img {
    background: var(--yellow);
    /* align-self: flex-end; */
}
#hero_view_all_img > img {
    width: 46px;
    padding: 14px;
    background: var(--yellow);
}

#more_img {
    width: 192px;
}

#app_ribbon {
    background: var(--gray_two);
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: 700;
}
#our_app {
    display: flex;
    align-items: center;
}
#our_app > img {
    width: 33px;
    height: 33px;
}

#plans {
    background: var(--gray_two);
    min-height: 10vh;
    margin-bottom: 5vh;
}

#plans_heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

#coverage_checker {
    display: flex;
    align-items: center;
}
#coverage_checker > img {
    width: 32px;
    height: 45px;
    margin-left: 10px;
}

#plans_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.plan_card {
    color: var(--gray_text);
    margin: 0px 0.5rem 1rem 0.5rem;
    width: 31.5%;
    height: 309px;
}

.card_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0px;
    border-radius: 3px 3px 0 0;
    height: 223px;
}
.card_top > h2 {
    color: var(--gray_text);
    font-size: 86px;
}
.card_top > h2 > span {
    font-size: 58px;
}
.card_top > h3 {
    color: var(--gray_text);
    font-size: 46px;
}
.card_bottom {
    padding: 16px;
    height: 80px;
    background: white;
    border-radius: 0 0 3px 3px;
}
.card_bottom > button {
    color: var(--gray_text);    /* TODO: fix the color */
    font-size: 14px;
    font-weight: 700;
    padding: 18px 24px;
    width: 100%;
    height: 100%;
    border: none;
}
#c4gb, #b4gb {
    background: var(--yellow);
}
#c8gb, #b8gb {
    background: var(--blue);
}
#c12gb, #b12gb {
    background: var(--green);
}
#c30gb, #b30gb {
    background: var(--orange);
}
#c50gb, #b50gb {
    background: var(--turquoize);
}
#cunlimited, #bunlimited {
    background: var(--violet); 
}
#cunlimited > h2 {
    font-size: 46px;
}

#all_plans {
    margin-top: 5vh;
}
#all_plans_content {
    background: var(--gray_three);
}
#include_list {
    display: flex;
}
#wifi_banner {
    display: flex;
    background: var(--gray_one);
}
#wifi_all_plans {
    display: flex;
}
#wifi_learn_more {
    display: flex;
}

/* =========================================================================================
    Trustpilot_section
========================================================================================= */
#trustpilot_section {
    background: var(--gray_two);
    min-height: 10vh;
    display: flex;
    justify-content: center;
}
#trust_left {
    outline: 1px solid chartreuse;
}
#trust_right {
    outline: 1px solid chartreuse;
}
#trust_reviews {
    outline: 1px solid chartreuse;
    display: flex;
}

/* =========================================================================================
    Why_choose_smarti_section
========================================================================================= */
#why_choose_smarti_section {
    background: var(--gray_one);
    min-height: 10vh;
}
#why_choose_cards {
    display: flex;
}
.why_choose_card {
    outline: 1px solid blue;
    background: #56585C;
}

/* =========================================================================================
    Group_plan_section
========================================================================================= */
#group_plan_section {
    background: var(--gray_two);
    min-height: 10vh;
}

/* =========================================================================================
    Get_money_back_section
========================================================================================= */
#get_money_back_section {
    background: var(--gray_one);
    min-height: 10vh;
}
#text_blue {
    color: var(--turquoize_text);
}
#text_yellow {
    color: var(--yellow);
}
#money_back_button {
    background: var(--turquoize_text);
}

/* =========================================================================================
    Faq_section
========================================================================================= */
#faq_section {
    background: var(--gray_one);
    min-height: 10vh;
}
#questions_container {
    display: flex;
}
.question > button {
    background: var(--gray_one);
    color: var(--turquoize_text);
}

/* =========================================================================================
    Awards_section
========================================================================================= */
#awards_section {
    background: var(--gray_one);
    min-height: 10vh;
}

/* =========================================================================================
    Footer
========================================================================================= */
#footer_container {
    background: var(--gray_two);
    min-height: 10vh;
}
#footer_inner {
    display: flex;
}
#footer_social {
    display: flex;
}




